@font-face {
  font-family: 'primary';
  font-weight: 400;
  src: url('../../assets/fonts/alata-regular-webfont.woff2') format('woff2'),
    url('../../assets/fonts/alata-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'secondary';
  font-weight: 300;
  src: url('../../assets/fonts/josefinsans-light-webfont.woff2') format('woff2'),
    url('../../assets/fonts/josefinsans-light-webfont.woff') format('woff');
}

$ff-primary: 'Alata', sans-serif;
$ff-secondary: 'Josefin Sans', sans-serif;

$font-sizes: (
  900: clamp(2.5rem, 4vw + 1rem, 4.75rem),
  800: clamp(1.9rem, 2vw + 1rem, 2.5rem),
  700: 2rem,
  600: 1.75rem,
  500: 1.3125rem,
  400: 0.9375rem,
);

$fw-300: 300;
$fw-400: 400;
$fw-700: 700;
