@use '../abstracts/' as *;

.grid-auto-fit {
  --grid-gap: #{$offset-base};
  display: grid;
  gap: var(--grid-gap, $grid-gap);
  grid-template-columns: 1fr;

  @include mq(medium) {
    grid-template-columns: repeat(auto-fit, $card-base-width);
  }
}
