@use '../abstracts/' as *;

.image-card {
  grid-template-columns: 1fr;
  background: linear-gradient(
    to right,
    rgba(clr(neutral, 900), 0.6),
    rgba(clr(neutral, 900), 0.05)
  );
  color: clr(neutral, 100);
  text-decoration: none;

  & > * {
    grid-row: 1;
    grid-column: 1;
  }
  picture {
    z-index: -1;
    grid-column: 1 / -1;
    mix-blend-mode: darken;
  }

  h3 {
    max-width: 12ch;
    padding: $offset-base;
    justify-self: start;
    align-self: end;
  }
}

.text-card {
  padding-block: $offset-base * 1.5;
  padding-inline: $offset-base * 0.5;
  text-align: center;
  background-color: clr(neutral, 100);

  @include mq(45em) {
    padding-block: clamp(
      $offset-base,
      $offset-medium * 2.5,
      $offset-medium * 5
    );
    padding-inline: clamp(
      $offset-medium,
      $offset-medium * 1.5,
      $offset-medium * 3
    );
    text-align: left;
  }
}
